PORT=3001
FRONTEND_URL=http://localhost:3000

# Blockchain Configuration
# 338 for Cronos Testnet, 25 for Cronos Mainnet
CHAIN_ID=338

# Thirdweb Configuration
THIRDWEB_SECRET_KEY=
SERVER_WALLET_ADDRESS=

# Database (Optional, defaults to SQLite)
# DATABASE_URL=
